// @/components/ui/MyModal/MyModal.module.scss

@use "@/styles/globals" as *;

.overlay {
  @include anime (
    $name: fadeIn,
    $duration: .5s,
    $timing: ease-in-out
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba($color: $color-black, $alpha: .8);
  z-index: 1000;
  &.closing {
    @include anime(
      $name: fadeOut,
      $duration: .5s,
      $timing: ease-in-out,
      $fill: forwards
    );
  }  
}

.modal {
  @include anime(
    $name: slideIn,
    $duration: .5s,
    $timing: ease-in-out
  );
  position: relative;
  width: 80vw;
  height: 80vh;
  padding: 2rem;
  background-color: $color-off-white;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba($color: $color-black, $alpha: 0.1),
              0 10px 10px 05px rgba($color: $color-black, $alpha: 0.4);
  overflow-y: auto;
  &.closing {
    @include anime(
      $name: slideOut,
      $duration: .5s,
      $timing: ease-in-out,
      $fill: forwards
    );
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    
  }
  100% {
    opacity: 0;
    transform: translateY(-30px) scale(.1);
  }
}
